<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469773115528-t2ouvikk0d9haig995ojmcfa0h52hfqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469773115528-t2ouvikk0d9haig995ojmcfa0h52hfqn</string>
	<key>API_KEY</key>
	<string>AIzaSyBE3UmkS4XfAb5uPFCoxKGpgcNKRWQN26c</string>
	<key>GCM_SENDER_ID</key>
	<string>469773115528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.studentProyect.Twitter-clone</string>
	<key>PROJECT_ID</key>
	<string>twitterui-80b4a</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterui-80b4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469773115528:ios:35d4e93521a4678b4bbf3d</string>
</dict>
</plist>